@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x9kldl');
  src:  url('fonts/icomoon.eot?x9kldl#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?x9kldl') format('truetype'),
  url('fonts/icomoon.woff?x9kldl') format('woff'),
  url('fonts/icomoon.svg?x9kldl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e90b";
}
.icon-bell:before {
  content: "\e927";
}
.icon-filter:before {
  content: "\e928";
}
.icon-maestro:before {
  content: "\e921";
}
.icon-qiwi:before {
  content: "\e922";
}
.icon-sberbank:before {
  content: "\e923";
}
.icon-webmoney:before {
  content: "\e924";
}
.icon-yandex:before {
  content: "\e925";
}
.icon-visa:before {
  content: "\e926";
}
.icon-minus:before {
  content: "\e920";
}
.icon-twitter:before {
  content: "\e91e";
}
.icon-skype:before {
  content: "\e91f";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-bank:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e903";
}
.icon-check:before {
  content: "\e904";
}
.icon-clock:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-closex:before {
  content: "\e907";
}
.icon-danger:before {
  content: "\e908";
}
.icon-delivery:before {
  content: "\e909";
}
.icon-flower:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\e90c";
}
.icon-compare:before {
  content: "\e90d";
}
.icon-list:before {
  content: "\e90e";
}
.icon-users:before {
  content: "\e90f";
}
.icon-location:before {
  content: "\e910";
}
.icon-mail:before {
  content: "\e911";
}
.icon-menu:before {
  content: "\e912";
}
.icon-order:before {
  content: "\e913";
}
.icon-grid:before {
  content: "\e914";
}
.icon-plus:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e916";
}
.icon-favorites:before {
  content: "\e917";
}
.icon-phone:before {
  content: "\e918";
}
.icon-tick:before {
  content: "\e919";
}
.icon-urid:before {
  content: "\e91a";
}
.icon-userbig:before {
  content: "\e91b";
}
.icon-vk:before {
  content: "\e91c";
}
.icon-youtube:before {
  content: "\e91d";
}
