@font-face {
	font-family: 'Montserrat Alternates';
	src: url('fonts/MontserratAlternates-Regular.eot');
	src: local('fonts/Montserrat Alternates Regular'), local('MontserratAlternates-Regular'),
	url('fonts/MontserratAlternates-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/MontserratAlternates-Regular.woff') format('woff'),
	url('fonts/MontserratAlternates-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Alternates';
	src: url('MontserratAlternates-Bold.eot');
	src: local('Montserrat Alternates Bold'), local('MontserratAlternates-Bold'),
	url('MontserratAlternates-Bold.eot?#iefix') format('embedded-opentype'),
	url('MontserratAlternates-Bold.woff') format('woff'),
	url('MontserratAlternates-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}